:root {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  /* line-height: 1.5; */
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  width: 100%;
  height: 100%;
}

header {
  border-bottom: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  width: 100%;
  position: fixed;
  padding: 0 5%;
  z-index: 10;
  background-color: #242424;
  box-sizing: border-box;
}

.menu{
  list-style-type: none;
  display: flex;
  gap: 20px;
}

header a{
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.menu-item:hover{
  text-decoration: 3px underline;
}

main{
  color: white;
  width: 100%;
}

.container{
  background-color: #242424;
  width: 100%;
}

.section{
  margin: 0 3%;
}

#home{
  display: flex;
  align-items: center;
  justify-content: center;
}

#home-container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  width: 100%;
}

#welcome{
  width: 60%;
}

.mg-pd-0{
  margin: 0;
  padding: 0;
}

#welcome h1{
  font-size: 4em;
  margin: 20px 0;
  line-height: 1;
}

#welcome h2{
  font-size: 3em;
}

#welcome h3{
  width: 50%;
  line-height: 1.5;
}

#icons-section{
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.icon{
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.icon img{
  width: 100%;
  height: 100%;
}

#my-photo{
  border: none;
}

span{
  color: #00be00;
}

hr{
  width: 94%;
}

#projects{
  padding: 5% 0;
}

#projects h1{
  width: fit-content;
  border-bottom: 10px solid #00be00;
  font-size: 3em;
  margin-top: 0;
}

#projects-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.card-project{
  background-color: #ffffff;
  color: black;
  border-radius: 10px;
}

.card-project .description{
  padding: 0 10px;
}

#contact{
  background-color: #6a6a6a;
  border-top: 1px solid #ffffff;
  position: relative;
}

#contact-container{
  display: flex;
  color: white;
}

#contact-info, form{
  width: 50%;
  padding: 3vh 5%;
}

#contact-info h1{
  font-size: 5em;
  margin: 0;
}

#contact-info p{
  margin: 0;
  width: 80%;
  font-size: 1.2em;
}

#contact-info hr{
  width: 5vw;
  float: right;
  border: 5px solid white;
  margin-top: 5vh;
}

.input-area{
  margin-bottom: 20px;
}

.input-area input{
  width: 100%;
  height: 30px;
  border: none;
  border-bottom: 1px solid white;
  background-color: #6a6a6a;
  color: white;
}

.input-area textarea{
  color: white;
  width: 100%;
  height: 60px;
  border: none;
  border-bottom: 1px solid white;
  background-color: #6a6a6a;
}

.input-area input:focus, .input-area textarea:focus{
  outline: none;
}

#send-msg{
  background-color: white;
  color: #242424;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 20px;
  float: right;
  font-weight: bold;
}

/* @media (max-width: ) */